<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Base Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>${project.parent.groupId}.${project.parent.artifactId}</package>
    <author>${project.parent.organization.name}</author>
    <description>${project.parent.description}</description>
    <activator>org.openmrs.module.mambacore.MambaCoreActivator</activator>
    <require_version>${openmrsPlatformVersion}</require_version>

    <aware_of_modules>
        <aware_of_module>org.openmrs.module.webservices.rest</aware_of_module>
    </aware_of_modules>

    <!-- Required Privileges  -->
    <privilege>
        <name>View MambaReport</name>
        <description>Base privilege to view MambaETL Reports served via the API Service layer</description>
    </privilege>

    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>

    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>

    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>

</module>

