<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Base Module Properties -->
    <id>ohrimamba-core</id>
    <name>OHRI MambaETL Core</name>
    <version>2.0.1-SNAPSHOT</version>
    <package>org.openmrs.module.ohrimambacore</package>
    <author>Arthur D. Mugume [OHRI]</author>
    <description>OHRI MambaETL Core library module</description>
    <activator>org.openmrs.module.ohrimambacore.OhriMambaCoreActivator</activator>
    <require_version>2.3.1</require_version>

    <!-- Required Privileges  -->
    <privilege>
        <name>View MambaReport</name>
        <description>Base privilege to view MambaETL Reports served via the Service layer</description>
    </privilege>

    <require_modules>
        <require_module>org.openmrs.module.webservices.rest</require_module>
    </require_modules>

    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>

    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>

    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>

    <conditionalResources>
        <conditionalResource>
            <path>/lib/ohrimamba-core-api-2.1.*</path>
            <openmrsVersion>2.1.* - 2.3.*</openmrsVersion>
        </conditionalResource>
        <conditionalResource>
            <path>/lib/ohrimamba-core-api-2.5.*</path>
            <openmrsVersion>2.4.* - 9.*</openmrsVersion>
        </conditionalResource>
    </conditionalResources>

</module>

