<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Base Module Properties -->
    <id>ohrimamba-core</id>
    <name>OHRI Mamba Core</name>
    <version>1.0.0-SNAPSHOT</version>
    <package>org.openmrs.module.ohrimambacore</package>
    <author>Arthur D. Mugume [OHRI]</author>
    <description>OHRI Mamba Core library module</description>
    <activator>org.openmrs.module.ohrimambacore.OhriMambaCoreActivator</activator>
    <require_version>2.3.1</require_version>

    <!-- Required Privileges  -->
    <privilege>
        <name>Serve Mamba ETL Reports via a Service layer</name>
        <description>Serve Mamba ETL Reports via a Service layer</description>
    </privilege>

    <require_modules>
        <require_module>org.openmrs.module.webservices.rest</require_module>
    </require_modules>

    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>

    <messages>
        <lang>fr</lang>
        <file>messages_fr.properties</file>
    </messages>

    <messages>
        <lang>es</lang>
        <file>messages_es.properties</file>
    </messages>

</module>

